<!DOCTYPE html>
<html lang="en" dir="rtr">
    <head>
       <title>کتاب یار</title>
       
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="bootstrap5.2.0.css">
        <link rel="stylesheet" href="bootstrap.4.7.0.css">
        <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="Swiper.css">
        <link rel="stylesheet" href="bootstrap5.2.2.css">
        <link href="Home.css" rel="stylesheet">
        <link href="Sadeghhedayat.css" rel="stylesheet">
        <link href="darbarehma.css" rel="stylesheet">
        <link href="Nasher.css" rel="stylesheet">
        <link href="mahsolat.css" rel="stylesheet">
    </head>  
    <budy   class="font" >   
      <nav  class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler  right0 " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
          


            <div class="pic">
              <li class="nav-item">
                 
                <a class="navbar-brand" href="Kharid.html">
                  <div id="picv1">
                    <img id="picv1" src="PHOTO/cart2.svg" alt="">
                 </div>
                </a>  
                 
              </li>      
                
              
              <li class="nav-item">
                <div id="picv" class="navbar-brand" >
                  <img  src="PHOTO/user.svg" alt="" onclick="togglemenu()">
                </div>  
       <div style="background-color: rgb(255, 255, 255);" class="sub-menu-wrap" id="subMenu">
                <div dir="rtl" class="sub-menu">
                  <a href="Sabtnam.html" class="sub-menu-link">
                    <p class="p">ثبت نام</p>
                  </a>
                  <hr/>
                  <a href="#popup1" class="sub-menu-link">
                    <p class="p1">ورود</p>
                  </a>
                </div>
        </div>
              </li>         
    </div>






            
            <ul dir="rtl" class="navbar-nav right2" >
              <li class="nav-item">
                <a  class="nav-link active"  href="Home.html">خانه</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="Mahsol.html">محصولات</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="Navisandeh.html">نویسندگان</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="Nasher.html">ناشران</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="Dastehbandi.html" >  دسته بندی ها</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="Darbarehmah.html"> درباره ما </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="tamasbama.html"> تماس با ما </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="Mosabeghat.html"> مسابقات کتابخوانی</a>
              </li>
   
            </ul>
            <div  id="picnav"  class="nav-item1 yar">
              <img src="PHOTO/yarketab-fa.png" alt="">
           </div>
            </div>
          </div>  
        </div>   
    </nav>          

           <div dir="rtl" class="input-group1 " style="margin-top: 5%;">
                  <div >
                    <input type="search" class="form-control" id="floatingInputGrid" placeholder="نام محصول خود را وارد کنید..." >
                  </div>
          </div>
       <hr/>

         

    

        <main >

          <div id="popup1" class="overlay">
            <div class="popup">
              
              <a class="close" href="#">&times;</a>
              <div dir="rtl" class="form1">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">شماره مبایل</label>
                    <input type="text" class="form-control" placeholder="شماره مبایل">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">رمز عبور</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="رمز عبور">
                 <a href="#"> <label for="exampleFormControlTextarea1" class="form-label">فراموشی رمز عبور؟</label></a>
                  </div>
                  <div id="btn1" class="d-grid gap-2">
                    <button class="btn btn-primary " type="button">ورود</button>
                    <button class="btn  btn-secondary" type="button">ثبت نام</button>
                  </div>
          </div>  
            </div>
          </div>




          <div class="pic2" style="margin-left: 42%;">
           
             <div class="name1"> 
            <img src="Entesharat/porteghal.png" alt="">
              <b><div style="margin-left: 6%;">انتشارات پرتقال</div></b> 
              </div>
          
          </div>



       <div>
<div dir="rtl"  class="text11">
    <div>.</div>
   
   <h5>درباره نشر پرتقال</h5>
   <p>صادق هدایت یکی از تاثیرگذارترین و پیشروان داستان‌نویسان ایرانی است. او آثاری جاودانه از خودش بر جا گذاشته که با گذشت دهه‌ها از مرگش همچنان خواندنی هستند و محتوای این آثار آنقدر غنی است که حتی تغییر ذائقه‌ی نسل‌ها در ایران باعث نشده که کتاب‌خوان‌های نسل‌های جدیدتر مخاطب آثار او نباشند.</p>
   <p>صادق هدایت در ۲۸ بهمن ۱۲۸۱ (۱۷ فوریه‌ی ۱۹۰۳)‌ در تهران به دنیا آمد. خانواده‌ی او اشرافی، متمول و فرهیخته بودند و البته هر چه صادق هدایت بزرگ‌تر شد، بیشتر با این موضوع سر ناسازگاری پیدا کرد. صادق پس از اتمام تحصیل در مدرسه‌ی دارالفنون (با کمی تاخیر) به قصد ادامه‌ی تحصیل در رشته‌ی دندان‌پزشکی به فرانسه مهاجرت کرد. خیلی زود فهمید که روحیاتش با این رشته هم‌خوانی ندارد، بنابراین از این رشته انصراف داد.</p>
   <p>صادق هدایت پس از مدتی مجددا به تحصیل رو آورد و این‌بار برای تحصیل در رشته‌ی مهندسی به بلژیک رفت. ناگفته پیدا است که او در همین سفرها دل به ادبیات اروپا باخت و بیشتر از رشته‌ی تحصیلی خودش به مطالعه‌ی آثار ادبی و فلسفی پرداخت. نویسندگانی که با آثار درخشنده‌شان در این زمان دل و دین از کف صادق هدایت ربوده بودند، عبارت بودند از «ادگار آلن پو»، «گی دو موپوسان»، «رینر ماریا ریلکه»، «فرانتس کافکا»، «آنتوان چخوف» و «فئودور داستایوفسکی».</p>
   <p>خواندن این آثار چنان تاثیری بر صادق هدایت گذاشتند که او نمی‌توانست تصور کند مخاطب ایرانی از خواندن چنین آثار ارزشمندی محروم بماند. بنابراین دست به کار شد و به ترجمه‌ی این آثار پرداخت. به لطف زحمت‌های هدایت در سال‌های بین ۱۳۰۲ تا ۱۳۲۹ آثار باارزش و مهمی همچون «دیوار از ژان پل سارتر»، «گورستان زنان خیانتکار» نوشته‌ی «آرتور کریستین سن» و «مسخ» اثر «کافکا» به زبان فارسی ترجمه و در ایران منتشر شدند. به علاوه تعدادی مقاله از هدایت (مثلا «پیامِ کافکا») منتشر شد که در فضای ادبیات و روشنفکری ایران یک قدم موثر و رو به جلو به حساب می‌رفت.</p>
   <span id="dots">...</span>
   <span id="more">
    
    <h4 style="margin-right: 3%;" >پاستیل های بنفش</h4>
    <p>صادق هدایت بعد از انتشار سه کتاب خود «انسان و حیوان(۱۳۰۳)»، «فواید گیاه‌خواری (۱۳۰۶)»، «مازیار: تاریخ زندگی و اعمال او (۱۳۰۷)» در سال ۱۳۰۷ برای اولین بار اقدام به خودکشی کرد. هدایت که در آن زمان در پاریس زندگی می‌کرد و طبق گفته‌ها و شنیده‌ها زندگی آشفته‌ای را می‌گذراند یک روز خود را به داخل رود «مارن» فرانسه انداخت. چند قایق‌ران که بی‌خبر از همه جا در حال گذر از این رود بودند، فردی را می‌بینند که به داخل آب پرتاب شد و او را نجات می‌دهند. خبر خودکشی ناموفق او چندان دور از انتظار نبود و در نامه‌ای به برادرش اقدام به انتحار خود را نوعی دیوانگی می‌خواند. بعد از این خودکشی نافرجام به نوشتن روی آورد و با جسارتی مثال‌زدنی در تمام قالب‌های ممکن (نمایشنامه، داستان و مقالات) آثار درخوری را خلق کرد.</p>
    <h4 style="margin-right: 3%;">دختری که ماه را نوشید</h4>
    <p>چیزی نگذشت که هدایت به ایران بازگشت و نخستین مجموعه داستانش را منتشر کرد. «زنده به گور» در سال ۱۳۰۹ در چاپخانه‌ی فردوسی منتشر شد. هدایت کمی بعد از انتشار این کتاب نمایشنامه‌ی «پروین دختر ساسان» را منتشر کرد. طولی نکشید که کتاب‌های «سایه‌ی مغول» و «سه قطره خون» از صادق هدایت منتشر شدند.</p>
    <p>پرکار بودن هدایت در این مقطع زمانی و حضور پررنگش در محفل‌های روشنفکری آن زمان باعث شد تا فضای ادبی ایرانی تحت تاثیر دانش و سواد او قرار بگیرد. او خیلی زود تبدیل به هسته‌ی مرکزی گروهی به نام «گروه ربعه» (متشکل از صادق هدایت، مجتبی مینوی، بزرگ علوی و فرزاد مسعود) شود. این گروه تاثیرات شگرفی در روشنگری اجتماعی و ساسی و همچنین تغییر فضای داستان‌نویسی در ایران داشتند. نباید فراموش کرد که صادق هدایت بود که برای اولین بار تکنیک‌های مدرن داستان‌نویسی را با فضای ادبی فارسی در هم آمیخت و ترکیبی نو خلق کرد.</p>
    <p>صادق هدایت در این سال‌ها علاوه بر داستان‌نویسی، دستی هم بر آتش نوشتن نقد داشت. در این زمان بود که مقالاتی بر آثار مهم اروپایی نوشته و یا ترجمه شدند که آثاری از مولفان مطرحی مثل «ژان پل سارتر»، «چخوف» و... را نقد و بررسی می‌کرد.</p>
    <p>صادق هدایت در سال‌های ۱۳۱۵ به بعد شروع به تحقیق و پژوهش در تاریخ سلطنت ساسانیان (۶۵۱- ۲۲۴) کرد و همچنین زبان پهلوی یا زبان فارسی میانه را فراگرفت. در داستان‌های بعدی هدایت اثر این آموخته‌ها و شاید سلیقه‌ی عجیب او در فراگیری به طور واضحی مشهود می‌شود. چرا که از این زمان به بعد عناصر تاریخ و زبان به شکلی منحصر به فرد در داستان‌های هدایت خودشان بیشتر را نشان می‌دهند.</p>
    <p>کار هدایت با زبان، فرهنگ، مذهب و آیین پهلوی و ساسانی در اینجا به پایان نمی‌رسد. او برای اینکه بیشتر در فضای فرهنگ باستانی ایرانیان میانه قرار بگیرد، این بار به هند سفر می‌کند و با زرتشتیانی که به زبان پهلوی صحبت می‌کردند هم‌نشین و هم‌زیست می‌شود. صادق هدایت این کار را برای آشنایی هر چه بیشتر با فرهنگ و آیین از دست رفته‌ی ایرانیان انجام می‌دهد.</p>
    <p>نتیجه و حاصل سفر هدایت به هند ترجمه‌ی اثری مهم و الماس‌گون به نام «زند وهمن یسن» (Zand-i- Wahman yasn) به فارسی است. این اثر یک پیشگویی باستانی درمورد ایران و مردم آن است که در زمان خسرو انوشیروان آخرین پادشاه ساسانی به رشته‌ی تحریر درآمده یا از دهان پیشگویان بیرون آمده. در این اثر از دوره‌های مختلفی نام به میان می‌آید و در هر دوران وقایع و حوادثی مثل خشکسالی، حمله‌ی دیوان و اهریمنان، تاریکی، بایری زمین، جنایات و... در انتظار این سرزمین است. صادق هدایت این پیشگویی از زبان از دست رفته و فراموش‌شده‌ی پهلوی به فارسی امروز برگرداند و به گنجینه‌ی ادبیات ما افزود.</p>
    


   </span>
  <button onclick="myFunction()" id="myBtn" type="button" class="btn btn-primary" style="margin-right: 45%;">Read more</button> 

<div>.</div>
</div> 
   
<div  dir="rtl"  class="swiper mySwiper">
    <b>   <span dir="rtl" class="na">برگزیده ها </span></b> 
         <div class="swiper-wrapper">                           
           <div class="swiper-slide">
             <div class="name">
             <img src="Eportghal/1.jpg" alt="">
             <b><div>در ستایش دوستی های خیالی</div></b> 
            
             </div>
         </div>
           <div class="swiper-slide">
             <div class="name">
             <img src="Eportghal/2.jpg" alt="">
             <b><div>از پرفروش های نیویورک تایمز برای نوجوانان</div></b> 
             
             </div>
         </div>
           <div class="swiper-slide">
             <div class="name">
             <img src="Eportghal/3.jpg" alt="">
             <b><div>نوشته ی ملاله یوسف زی</div></b> 
           
             </div>
         </div>
         </div>
         <div class="swiper-pagination"></div>
       </div>

       <div  dir="rtl"  class="swiper mySwiper1">
        <b>    <span dir="rtl" class="na">محبوب ترین ها</span> </b>  
                <div class="swiper-wrapper">
                    
                  <div class="swiper-slide">
                     <div class="name">
                    <img  src="Eportghal/خوب های بد  سومان ینانی.jpg" alt="">
                       <b><div>خوب های بد</div></b> 
                        <div>سومان ینانی</div>
                     </div>
                 </div>
                  
                    
                   
                  <div class="swiper-slide">
                    <div class="name">
                    <img src="Eportghal/تیمارستانی متروک دن پبلاکی.jpg" alt="">
                    <b><div>تیمارستانی متروک</div></b> 
                    <div>دن پبلاکی</div>
                    </div>
                </div>
                  <div class="swiper-slide">
                    <div class="name">
                    <img src="Eportghal/خرگوش گوش داد کوری دورفلد.jpg" alt="">
                    <b><div>خرگوش گوش داد </div></b> 
                    <div>کوری دورفلد</div>
                    </div>
                </div>
                  <div class="swiper-slide">
                    <div class="name">
                    <img src="Eportghal/داس مرگ نیل شوسترمن.jpg" alt="">
                    <b><div>داس مرگ</div></b> 
                    <div>نیل شوسترمن</div>
                    </div>
                </div>
                  <div class="swiper-slide">
                    <div class="name">
                    <img src="Eportghal/من تنبل نیستم جوری جان.jpg" alt="">
                    <b><div>من تنبل نیستم </div></b> 
                    <div>جوری جان</div>
                   </div>
                </div>
                  <div class="swiper-slide">
                    <div class="name">
                    <img src="Eportghal/مهمانی به نام غصه ایوا ایلند.jpg" alt="">
                    <b><div>مهمانی به نام غصه</div></b> 
                    <div>ایوا ایلند</div>
                    </div>
                </div>
                  <div class="swiper-slide">
                    <div class="name">
                    <img src="Eportghal/پاستیل بنفش کاتر اپل گیت.jpg" alt="">
                    <b><div>چاستیل بنفش </div></b> 
                    <div>کاتر اپل گیت</div>
                    </div>
                </div>
                  <div class="swiper-slide">
                    <div class="name">
                    <img src="Eportghal/چرا امروز غمگینم ؟ دی کی.jpg" alt="">
                    <b><div>را امروز غمگینم؟</div></b> 
                    <div>دی کی</div>
                    </div>
                </div>
                  <div class="swiper-slide">
                    <div class="name">
                    <img src="Eportghal/کتابخانه ی ارواح ریچارد دنی.jpg" alt="">
                    <b><div>کتابخانه ی ارواح</div></b> 
                    <div> ریارد دنی</div>
                    </div>
                </div>
                </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>








 </div>
        <footer dir="rtl"id="fo">
          <div>
            <div class="footer-area">
                <div class="container">
                    <div class="row1">
                      <div class="col-md-3">
                        <div class="yarketaben">   <img src="PHOTO/yarketab-en.png" alt=""> </div>
                          <div class="footer-underline"></div>
                          <div class="mb-2">
                              <p>
                                  <i class="fa fa-map-marker"></i> خراسان رضوی گناباد
                              </p>
                          </div>
                          <p class="mb-2">
                              <a href="" class="text-black">
                                  <i class="fa fa-phone"></i> 09156644838
                              </a>
                          </p>
                          <p class="mb-2">
                              <a href="" class="text-black">
                                  <i class="fa fa-envelope"></i> support@yarketab.com
                              </a>
                          </p>
                      </div>
                        <div class="col-md-3">
                          <div class="md-p">
                            <b>  <div class="footer-heading">اطلاعات</div></b>
                            <div class="footer-underline"></div>
                            <p class="mb-2"><a href="" class="text-black">درباره ما </a></p>
                            <p class="mb-2"><a href="" class="text-black">ارتباط با ما</a></p>
                         </div>
                        </div>
                        <div class="col-md-3">
                          <b>   <div class="footer-heading">اکانت</div></b>
                          <div class="footer-underline"></div>
                          <p class="mb-2"><a href="" class="text-black">اکانت من</a></p>
                          <p class="mb-2"><a href="" class="text-black">تاریخچه سفارش</a></p>
                          <p class="mb-2"><a href="" class="text-black">لیست علاقه مندی ها</a></p>
                          <p class="mb-2"><a href="" class="text-black">ویژه</a></p>
                              </div>
                       <div class="col-md-3">
                        <b>  <div class="footer-heading">خدمات</div></b> 
                        <div class="footer-underline"></div>
                        <p class="mb-2"><a href="" class="text-black">پنل فروشگاه</a></p>
                        <p class="mb-2"><a href="" class="text-black">ثبت فروشگاه</a></p>
                        <p class="mb-2"><a href="" class="text-black">فروشگاه</a></p>
                        <p class="mb-2"><a href="" class="text-black">پیگیری سفارش از فروشگاه</a></p>
                        <p class="mb-2"><a href="" class="text-black">خبرنامه</a></p>
                    </div>
                      <div class="col-md-3">
                        <b>   <div class="footer-heading">خبر نامه</div></b>
                           <div class="footer-underline"></div>
                           <p>
                         دریافت خبر های موجودی محصولات دید
                           </p>
                           <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping"><img src="PHOTO/email.png" alt=""></span>
                            <input type="email" class="form-control" placeholder="ایمیل خود را وارد کنید" aria-label="Username" aria-describedby="addon-wrapping">
                          </div>
                       </div>
                  </div>
              </div>
          </div>
          <div dir="rtl" class="copyright-area">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8">
                          <p class=""> کپی رایت 1400-1401 یار کتاب تمامی حقوق معنوی محفوض است</p>
                      </div>
                      <div class="col-md-4">
                          <div class="social-media">
                              <a href=""><i class="fa fa-facebook"></i></a>
                              <a href=""><i class="fa fa-twitter"></i></a>
                              <a href=""><i class="fa fa-instagram"></i></a>
                              <a href=""><i class="fa fa-youtube"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <script src="bootstrap5.2.0.js" ></script>
 <script src="swiper.js"></script>
      <script>
        let subMenu = document.getElementById("subMenu");
        
        function togglemenu(){
          subMenu.classList.toggle("open-menu")
        }
        
        
              </script>
                 
                <script>
                    var swiper = new Swiper(".mySwiper", {
                      slidesPerView: 2.5,
                      spaceBetween: 5,
                      slidesPerGroup: 1,
                      loop: true,
                      loopFillGroupWithBlank: true,
                      pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                      },
                      navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                      },
                    });
                  </script>
                         <script>
                          var swiper = new Swiper(".mySwiper1", {
                            slidesPerView:5,
                            spaceBetween:1,
                            slidesPerGroup: 1,
                            loop: true,
                            loopFillGroupWithBlank: true,
                            pagination: {
                              el: ".swiper-pagination",
                              clickable: true,
                            },
                            navigation: {
                              nextEl: ".swiper-button-next",
                              prevEl: ".swiper-button-prev",
                            },
                          });
                        </script>
 <script>
  function myFunction() {
      var dots = document.getElementById("dots");
      var moreText = document.getElementById("more");
      var btnText = document.getElementById("myBtn");
    
      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Read more";
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Read less";
        moreText.style.display = "inline";
      }
    }
     </script>



        </footer>
      </main>  
    </budy>


</html>