<!DOCTYPE html>
<html lang="en" dir="rtr">
    <head>
       <title>کتاب یار</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="bootstrap5.2.0.css">
        <link rel="stylesheet" href="bootstrap.4.7.0.css">
        <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="Swiper.css">
        <link href="Home.css" rel="stylesheet">
    </head>  
<!-- navbar -->
    <budy  class="font" >   
        <nav  class="  navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <button  class="navbar-toggler right0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>



              <div class="collapse navbar-collapse" id="navbarNav">
<!-- pic -->
<div  class="pic">
  <li>
    
     <div id="picv1">
      <a class="navbar-brand" href="Kharid.html">
        <img  src="PHOTO/cart2.svg" alt="">
       </a> 
     </div>
    
 </li>


 <li>
    <div id="picv"  class="navbar-brand " >
      <img style="margin-top: 0%;" src="PHOTO/user.svg" alt="" onclick="togglemenu()">

    </div> 
  </li>   


   <div style="background-color: rgb(255, 255, 255);" class="sub-menu-wrap" id="subMenu">
    <div dir="rtl" class="sub-menu">
      <a href="Sabtnam.html" class="sub-menu-link">
        <p class="p">ثبت نام</p>
      </a>
      <hr/>
      <a href="#popup1" class="sub-menu-link">
        <p class="p1">ورود</p>
      </a>
    </div>
</div>

</div> 

<!-- pic -->

                <ul dir="rtl" class="navbar-nav  right">
                  <li class="nav-item">
                    <a  class="nav-link active"  href="Home.html">خانه</a>
                  </li>
                  <li class="nav-item">
                    <a  class="nav-link active" href="Mahsol.html">محصولات</a>
                  </li>
                  <li class="nav-item">
                    <a  class="nav-link active" href="Navisandeh.html">نویسندگان</a>
                  </li>
                  <li class="nav-item">
                    <a  class="nav-link active" href="Nasher.html" >ناشران</a>
                  </li>
                  <li class="nav-item">
                    <a  class="nav-link active" href="Dastehbandi.html" >  دسته بندی ها</a>
                  </li>
                  <li class="nav-item">
                    <a  class="nav-link active" href="Darbarehmah.html"> درباره ما </a>
                  </li>
                  <li class="nav-item">
                    <a  class="nav-link active" href="tamasbama.html"> تماس با ما </a>
                  </li>
                  <li class="nav-item">
                    <a  class="nav-link active" href="Mosabeghat.html"> مسابقات کتابخوانی</a>
                  </li>
                  
  
         </ul> 
         
    </div>   
        
    
     





</div>                     
 </nav>          
           <hr/>
                
        

      







               
              
       

       



 <!-- budy    -->
        <main id="banner">
           <div  class="logoall">
              <div dir="rtl" class="logo">
                  <img src="PHOTO/yarketab-fa.png" alt="">
                  <p> مقایسه قیمت هزاران کتاب بین هزاران فروشگاه</p> 
                  <input type="serch" placeholder="نام محصول خود را وارد کنید...">
              </div>
              <div  dir="rtl" class="logo1">
                   <img src="PHOTO/logo.png" alt="">
              </div>
           </div>
         


<!-- popup down -->
         <div id="popup1" class="overlay">
          <div class="popup">
            
            <a class="close" href="#">&times;</a>
            <div dir="rtl" class="form1">
              <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">شماره مبایل</label>
                  <input type="text" class="form-control" placeholder="شماره مبایل">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">رمز عبور</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="رمز عبور">
               <a href="#"> <label for="exampleFormControlTextarea1" class="form-label">فراموشی رمز عبور؟</label></a>
                </div>
                 <div id="btn1" class="d-grid gap-2">
                  <button class="btn btn-primary " type="button">ورود</button>
                  <button class="btn  btn-secondary" type="button">ثبت نام</button>
                </div>
        </div>  
          </div>
        </div>
<!-- popup up -->
<!-- new -->
        <div  dir="rtl" id="cardz" class="swiper mySwiper ">
               <div id="navisa">
                     <b>   <div dir="rtl" class="na">  جدید ترین ها</div></b> 
                   <a href="Mahsol.html">
                     <div >بیشتر></div>
                   </a>
               </div>


               <div class="swiper-wrapper">
                   
                 <div class="swiper-slide">
                    <div class="name">
                   <img src="Nasheran/akharin.jpg" alt="">
                      <b><div>اخرین بازمانده</div></b> 
                       <p>مصطفی صحراگرد</p>
                    </div>
                </div>
                 
                   
                  
                 <div class="swiper-slide">
                   <div class="name">
                   <img src="Nasheran/dastkarizehn.jpg" alt="">
                   <b><div>دستکاری ذهن</div></b> 
                   <p>رضا عطاری</p>
                   </div>
               </div>


                 <div class="swiper-slide">
                   <div class="name">
                   <img src="Nasheran/donyah parandeh.jpg" alt="">
                   <b><div>دنیای پرنده</div></b> 
                   <p>فرداد مهدوی</p>
                   </div>
               </div>


                 <div class="swiper-slide">
                   <div class="name">
                   <img src="Nasheran/farzaneh.jpg" alt="">
                   <b><div>فرزانه</div></b> 
                   <p>زهره قادری</p>
                   </div>
               </div>


                 <div class="swiper-slide">
                <div class="name">
                   <img src="Nasheran/fisalida.jpg" alt="">
                   <b><div>فیسالیدا</div></b> 
                   <p>علی فخاری</p>
                  </div>
                 </div>  
              

                 <div class="swiper-slide">
                   <div class="name">
                   <img src="Nasheran/mandarmoghabelto.jpg" alt="">
                   <b><div>من در مقابل خودم</div></b> 
                   <p>منا اسدی</p>
                   </div>
               </div>


                 <div class="swiper-slide">
                   <div class="name">
                   <img src="Nasheran/prost.jpg" alt="">
                   <b><div>پروست</div></b> 
                   <p>سامویل بکت</p>
                   </div>
               </div>


                 <div class="swiper-slide">
                   <div class="name">
                   <img src="Nasheran/residanbeto.jpg" alt="">
                   <b><div>رسیدن به تو</div></b> 
                   <p>لیلا حاجی</p>
                   </div>
               </div>

                 <div class="swiper-slide">
                   <div class="name">
                   <img src="Nasheran/shahrvand mafia.jpg" alt="">
                   <b><div>شهروند مافیا</div></b> 
                   <p>عرفان شکوهی</p>
                   </div>
               </div>


                 <div class="swiper-slide">
                   <div class="name">
                   <img src="Nasheran/baraykhod.jpg" alt="">
                   <b><div>برای خود مادری کنیم</div></b> 
                   <p>ایولین بساف</p>
                   </div>
               </div>


                 <div class="swiper-slide">
                   <div class="name">
                   <img src="Nasheran/barnamehrizi.jpg" alt="">
                   <b><div>برنامه ریزی فروش</div></b> 
                   <p>پاول اریناگا</p>
                   </div>
               </div>

                 <div class="swiper-slide">
                   <div class="name">
                   <img src="Nasheran/nagoftan.jpg" alt="">
                   <b><div>نه گفتن را بیا موزیم</div></b> 
                   <p>ربابه درشکی</p>
                   </div>
               </div>

        
               

               </div>
                <div class="swiper-pagination"></div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                 
             </div>
<!-- Entesharat -->
                  <div dir="rtl" id="entesharath">
                        <b>    <div  >انتشارات</div></b>
                      <a  href="Eporteghal.html">
                           <div >بیشتر></div>        
                      </a>
                  </div>               

              
           
        <div dir="rtl"class="pic1 hight1">    
          <div  class="pic2">
              <div class="name">
                <img src="Entesharat/nardehban.png" alt=""> 
                 <a href="Eporteghal.html" >
                    <b><div class="alighn" >انتشارات نردبان</div></b>
                 </a>
                    <p >1360</p>
              </div>
          </div>
          <div class="pic2">
            <div class="name">
                     <img src="Entesharat/elmi farhangi.png" alt="">
                  <a href="Eporteghal.html" >
                      <b><div class="alighn">انتشارات علمی و فرهنگی</div></b> 
                  </a>
                      <p >1333</p>
            </div>
          </div>
          <div class="pic2">
            <div class="name">
                <img src="Entesharat/entsharaat ketabkadeh kasra.jpg" alt="">
               <a href="Eporteghal.html" >
                  <b><div class="alighn">انتشارات شهرسازی </div></b> 
               </a>
                  <p >1395</p>
            </div>
          </div>
              
          <div class="pic2">
            <div class="name">
                    <img src="Entesharat/Entsharat arjmand.png" alt="">
                <a href="Eporteghal.html" >
                    <b><div class="alighn">انتشارات ارجمند</div></b> 
                </a>
                    <p >1374</p>
            </div>
           </div>
       </div> 
                  
             <div dir="rtl" id="entesharath">
                       <b>    <div  >نویسندگان</div></b>
                    <a  href="Navisandeh.html">
                       <div >بیشتر></div>        
                    </a>
              </div>       
              
             <div dir="rtl"  class="pic1 " >
                         
                                   <div  class="pic2">
                                         <a  href="Sadeghhedayat.html">
                                   <div class="name">
                                          <img src="Navisandeh/ahmad bairamvand.jpg" alt=""> 
                                          <b><div class="alighn">احمد بیراموند</div></b> 
                                   </div>
                                          </a>
                                   </div>
                      <div class="pic2">
                          <a  href="Sadeghhedayat.html">
                      <div class="name">
                         <img src="Navisandeh/ahmad shamlo.jpg" alt="">
                        
                          <b><div class="alighn">احمد شاملو</div></b> 
                      </div>
                          </a>
                      </div>
                      <div class="pic2">
                             <a  href="Sadeghhedayat.html">
                        <div class="name">
                             <img src="Navisandeh/fariba hadad.jpg" alt="">
                             <b><div class="alighn">فریبا حداد</div></b> 
                        </div>
                             </a>
                      </div>
                      
                      <div class="pic2">
                                <a  href="Sadeghhedayat.html">
                          <div class="name">
                                <img src="Navisandeh/ferdosi.jpg" alt="">
                                <b><div class="alighn">فردوسی</div></b> 
                           </div>
                                 </a>
                      </div>
              </div> 
                     
                         



  
  <div dir="rtl" id="mghe">
    <b>    <div  >مسابقات کتابخوانی</div></b>
    <a  href="Mosabeghat.html">
        <div  >بیشتر></div>
    </a>
   
       </div>

<div  class="responsiv">
  <div class="boxs">

     <div class="card  cardH" >
          <img src="Mosabegheh/1.jpeg" class="card-img-top" alt="...">
       <div class="card-body">
          <p class="card-title " id="boxh1" >مسابقات کتابخوانی دوست دارم</p>
          <p class="card-text  boxt">
جایزه:3000000 ریال
          </p>
          <p class="card-text  boxt">
    هزینه شرکت:0 ریال
          </p>
              <p class="card-text boxt1">
            مهلت زمان شرکت تمام شده است
              </p>
        <div class="btnbox">
            <a href="#" class="btn btn-primary" >توضیحات بیشتر</a>
            <a href="#" class="btn btn-primary">نتیجه مسابقه</a>
        </div>
       </div>
     </div>
  

  <div class="card  cardH" >
         <img src="Mosabegheh/2.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
          <p class="card-title " id="boxh2">مسابقات کتابخوانی سومین جشنواره مهدویت</p>
              <p class="card-text  boxt">
                 جایزه:3000000 ریال
              </p>
              <p class="card-text  boxt">
                     هزینه شرکت:0 ریال
             </p>
             <p class="card-text boxt1">
                    مهلت زمان شرکت تمام شده است
             </p>
                <div class="btnbox">
                    <a href="#" class="btn btn-primary" >توضیحات بیشتر</a>
                    <a href="#" class="btn btn-primary">نتیجه مسابقه</a>
                </div>
    </div>
  </div>



  <div id="resdelet" class="card  cardH " >
          <img src="Mosabegheh/3.jpeg" class="card-img-top" alt="...">
   <div class="card-body">
         <p class="card-title " id="boxh3" >مسابقات کتابخوانی سبک زندگی منتظرانه</p>
         <p class="card-text  boxt">
              جایزه:3000000 ریال
        </p>
        <p class="card-text  boxt">
             هزینه شرکت:0 ریال
        </p>
        <p class="card-text boxt1">
                    مهلت زمان شرکت تمام شده است 
        </p>
                <div class="btnbox">
                    <a href="#" class="btn btn-primary" >توضیحات بیشتر</a>
                     <a href="#" class="btn btn-primary">نتیجه مسابقه</a>
                </div>
    </div>
  </div>



  <div class="card  cardH " >
             <img src="Mosabegheh/4.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
             <p class="card-title" id="boxh4"  >مسابقات کتابخوانی رویای نیمه شب</p>
             <p class="card-text  boxt">
                 جایزه:3000000 ریال
             </p>
             <p class="card-text  boxt">
                 هزینه شرکت:0 ریال
             </p>
             <p class="card-text boxt1">
                    مهلت زمان شرکت تمام شده است
             </p>
<!-- time -->
                                  <div class="main-box" id="main-box">

                                    <div class="box-item">
                                
                                       <div class="box-number" id="days">00</div>
                                    </div>
                                    <div style="margin-top:1%;">:</div>
                                    <div class="box-item">
                               
                                      <div class="box-number" id="hourse">00</div>
                                   </div>
                                   <div style="margin-top:1%;">:</div>
                                   <div class="box-item">
                                   
                                      <div class="box-number" id="minutes">00</div>
                                   </div>
                                   <div style="margin-top:1%;">:</div>
                                  <div class="box-item">
                                  
                                      <div class="box-number" id="seconds">00</div>
                                  </div>
                                
                                </div>
<!-- time -->


                <div class="btnbox">
                   <a href="#" class="btn btn-primary" >توضیحات بیشتر</a>
                   <a href="#" class="btn btn-primary">نتیجه مسابقه</a>
                </div>
    </div>
  </div>

</div>

</div>



<div  class="responsiv1">
  <div class="boxs">
  
  
    
  
 
  
  
  
    <div id="resdel2" class="card  cardH " >
      <img src="Mosabegheh/3.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-title" id="boxh3r" >مسابقات کتابخوانی سبک زندگی منتظرانه</p>
           <p class="card-text  boxt">
          جایزه:3000000 ریال
                </p>
                <p class="card-text  boxt">
              هزینه شرکت:0 ریال
                        </p>
                        <p class="card-text boxt1">
                      مهلت زمان شرکت تمام شده است
                                    </p>
                  <div class="btnbox">
                <a href="#" class="btn btn-primary" >توضیحات بیشتر</a>
                <a href="#" class="btn btn-primary">نتیجه مسابقه</a>
                  </div>
      </div>
    </div>
  
  
  
    <div class="card  cardH " >
      <img src="Mosabegheh/4.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-title"id="boxh4r" >مسابقات کتابخوانی رویای نیمه شب</p>
        <p class="card-text  boxt">
          جایزه:3000000 ریال
                </p>
                <p class="card-text  boxt">
              هزینه شرکت:0 ریال
                        </p>
                        <p class="card-text boxt1">
                      مهلت زمان شرکت تمام شده است
                                    </p>
  
                                    <div class="main-box" id="main-box">
  
                                      <div class="box-item">
                                        
                                         <div class="box-number" id="days">00</div>
                                      </div>
                                      <div style="margin-top:1%;">:</div>
                                      <div class="box-item">
                                        
                                        <div class="box-number" id="hourse">00</div>
                                     </div>
                                     <div style="margin-top:1%;">:</div>
                                     <div class="box-item">
                                     
                                        <div class="box-number" id="minutes">00</div>
                                     </div>
                                     <div style="margin-top:1%;">:</div>
                                    <div class="box-item">
                                        
                                        <div class="box-number" id="seconds">00</div>
                                    </div>
                                  
                                  </div>
  
  
  
                  <div class="btnbox">
                <a href="#" class="btn btn-primary" >توضیحات بیشتر</a>
                <a href="#" class="btn btn-primary">نتیجه مسابقه</a>
                  </div>
      </div>
    </div>
  
  </div>
  
  </div>










        <footer dir="rtl" id="fo" >
          <div  >
            <div class="footer-area  ">
               
                      <div >
                <div class="container ">
                    <div class="row1">
                      
                      <div class="col-md-3">
                        <div class="yarketaben">   <img src="PHOTO/yarketab-en.png" alt=""> </div>
                          <div class="footer-underline"></div>
                          <div class="mb-2">
                              <p>
                                  <i class="fa fa-map-marker"></i> خراسان رضوی گناباد
                              </p>
                          </div>
                          <p class="mb-2">
                              <a href="" class="text-black">
                                  <i class="fa fa-phone"></i> 09156644838
                              </a>
                          </p>
                          <p class="mb-2">
                              <a href="" class="text-black">
                                  <i class="fa fa-envelope"></i> support@yarketab.com
                              </a>
                          </p>
                      </div>
                        <div class="col-md-3">
                          <div class="md-p">
                            <b>  <div class="footer-heading">اطلاعات</div></b>
                            <div class="footer-underline"></div>
                            <p class="mb-2"><a href="#" class="text-black">درباره ما </a></p>
                            <p class="mb-2"><a href="" class="text-black">ارتباط با ما</a></p>
                         </div>
                        </div>
                        <div class="col-md-3">
                          <b>   <div class="footer-heading">اکانت</div></b>
                          <div class="footer-underline"></div>
                          <p class="mb-2"><a href="" class="text-black">اکانت من</a></p>
                          <p class="mb-2"><a href="" class="text-black">تاریخچه سفارش</a></p>
                          <p class="mb-2"><a href="" class="text-black">لیست علاقه مندی ها</a></p>
                          <p class="mb-2"><a href="" class="text-black">ویژه</a></p>
                              </div>
                       <div class="col-md-3">
                        <b>  <div class="footer-heading">خدمات</div></b> 
                        <div class="footer-underline"></div>
                        <p class="mb-2"><a href="" class="text-black">پنل فروشگاه</a></p>
                        <p class="mb-2"><a href="" class="text-black">ثبت فروشگاه</a></p>
                        <p class="mb-2"><a href="" class="text-black">فروشگاه</a></p>
                        <p class="mb-2"><a href="" class="text-black">پیگیری سفارش از فروشگاه</a></p>
                        <p class="mb-2"><a href="" class="text-black">خبرنامه</a></p>
                    </div>
                      <div class="col-md-3">
                        <b>   <div class="footer-heading">خبر نامه</div></b>
                           <div class="footer-underline"></div>
                           <p>
                         دریافت خبر های موجودی محصولات دید
                           </p>
                           <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping"><img src="PHOTO/email.png" alt=""></span>
                            <input type="email" class="form-control" placeholder="ایمیل خود را وارد کنید" aria-label="Username" aria-describedby="addon-wrapping">
                          </div>
                       </div>
                  </div>
              </div>
            </div>
          </div>
          <div dir="rtl" class="copyright-area">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8">
                          <p class=""> کپی رایت 1400-1401 یار کتاب تمامی حقوق معنوی محفوض است</p>
                      </div>
                      <div class="col-md-4">
                          <div class="social-media">
                              <a href=""><i class="fa fa-facebook"></i></a>
                              <a href=""><i class="fa fa-twitter"></i></a>
                              <a href=""><i class="fa fa-instagram"></i></a>
                              <a href=""><i class="fa fa-youtube"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    </footer>

    


  
<script src="bootstrap5.2.0.js" ></script>
 <script src="swiper.js"></script>
      <script>
let subMenu = document.getElementById("subMenu");

function togglemenu(){
  subMenu.classList.toggle("open-menu")
}


      </script>
 
  <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 4,
        spaceBetween: 5,
        slidesPerGroup: 4,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>

<script>
 let countDownDate = new Date("2023-02-20   23:59:59").getTime();
 let x = setInterval(function(){
  let datetimeNow = new Date().getTime();
  let distance = countDowenDate - datetimeNow;

  if(distance > 0) {
    let dayTime = 1000 * 60 * 60 * 24;
    let hourTime = 1000 * 60 * 60;
    let minuteTime = 1000 * 60;

    let days = Math.floor(distance / dayTime);
    let hours = Math.floor((distance % dayTime) / hourTime  );
    let minutes  = Math.floor((distance % hourTime) / minuteTime);
    let seconds = Math.floor((distance % minuteTime) / 1000);

    // document.getElementById("days").innerHTML = (days<10)? '0' +days:days;
    // document.getElementById("hourse").innerHTML = (hours<10)? '0' +hours:hours;
    // document.getElementById("minutes").innerHTML = (minutes<10)? '0' +minutes:minutes;
    // document.getElementById("seconds").innerHTML = (seconds<10)? '0' +seconds:seconds;
document.getElementById('demo').innerHTML = days + "روز"+ hours+"ساعت"+seconds+"ثانیه"
  }else{
    clearInterval(x);
    document.getElementById("main-box").innerHTML ="مهلت ثبت نام به اتمام رسید"
  }


 }, 1000);
 

</script>

 


        
      </main>  
    </budy>
</html>
