<!DOCTYPE html>
<html lang="en" dir="rtr">
    <head>
       <title>کتاب یار</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link href="Home.css" rel="stylesheet">
        <link href="Kharid.css" rel="stylesheet">
        <link href="Kharid2.css" rel="stylesheet">
        <link href="mahsolat.css" rel="stylesheet">
            <link rel="stylesheet" href="bootstrap5.2.0.css">
        <link rel="stylesheet" href="bootstrap.4.7.0.css">
        <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
       <link rel="stylesheet" href="bootstrap5.2.2.css">
    </head>  
    <budy   class="font" >   
      <nav  class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler  right0 " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
          


            <div class="pic">
              <li class="nav-item">
                 
                <a class="navbar-brand" href="Kharid.html">
                  <div id="picv1">
                    <img id="picv1" src="PHOTO/cart2.svg" alt="">
                 </div>
                </a>  
                 
              </li>      
                
              
              <li class="nav-item">
                <div id="picv" class="navbar-brand" >
                  <img  src="PHOTO/user.svg" alt="" onclick="togglemenu()">
                </div>  
       <div style="background-color: rgb(255, 255, 255);" class="sub-menu-wrap" id="subMenu">
                <div dir="rtl" class="sub-menu">
                  <a href="Sabtnam.html" class="sub-menu-link">
                    <p class="p">ثبت نام</p>
                  </a>
                  <hr/>
                  <a href="#popup1" class="sub-menu-link">
                    <p class="p1">ورود</p>
                  </a>
                </div>
        </div>
              </li>         
    </div>






            <ul dir="rtl" class="navbar-nav right2" >
              <li class="nav-item">
                <a  class="nav-link active"  href="Home.html">خانه</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="Mahsol.html">محصولات</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="Navisandeh.html">نویسندگان</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="Nasher.html">ناشران</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="Dastehbandi.html" >  دسته بندی ها</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="Darbarehmah.html"> درباره ما </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="tamasbama.html"> تماس با ما </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="Mosabeghat.html"> مسابقات کتابخوانی</a>
              </li>
   
            </ul>
            <div  id="picnav"  class="nav-item1 yar">
              <img src="PHOTO/yarketab-fa.png" alt="">
           </div>
            </div>
          </div>  
        </div>   
    </nav>          

           <div dir="rtl" class="input-group1 serche" >
                  <div >
                    <input type="search" class="form-control" id="floatingInputGrid" placeholder="نام محصول خود را وارد کنید..." >
                  </div>
          </div>
    
   
    <hr/>
        <main >

          <div id="popup1" class="overlay">
            <div class="popup">
              
              <a class="close" href="#">&times;</a>
              <div dir="rtl" class="form1">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">شماره مبایل</label>
                    <input type="text" class="form-control" placeholder="شماره مبایل">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">رمز عبور</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="رمز عبور">
                 <a href="#"> <label for="exampleFormControlTextarea1" class="form-label">فراموشی رمز عبور؟</label></a>
                  </div>
                  <div id="btn1" class="d-grid gap-2">
                    <button class="btn btn-primary " type="button">ورود</button>
                    <button class="btn  btn-secondary" type="button">ثبت نام</button>
                  </div>
          </div>  
            </div>
          </div>



           <div class="top">
              <p style="opacity: 40%;">
               برسی نهایی
                  <img src="PHOTO/ok.png" alt="">
              </p>
          -- 
             <p  > 
             <b> نشانی و روش ارسال</b>  
                 <img src="PHOTO/location2.png" alt="">
              </p>
           --
             <p style="color:blue ;">        
         <b>   سبد کتاب چاپی </b> 
                  <img style="color:blue ;" src="PHOTO/store2.png" alt="">            
             </p>
           </div> 
      <div  class="twocard" dir="rtl">
        <div class="div12">
         <b>    <p class="maghsad" >نشانی مقصد</p></b> 
        <div  class="card  box1">
          
          <div class="card-body textp1 ">
<p> خراسان رضوی- گناباد-طالقانی10 - پلاک11 - واحد 1  </p>
          </div>

   <p class="taghr" >تغییر یا ویرایش نشانی></p>       
          
        </div>
        <b><p  class="ravesh" >روش ارسال</p></b>
            <div  class="card  box1">
              <div class="card-body text">
             <b> <p >پست پیشتاز </p></b> 
                <p  class="sefaresh" >(از 2 تا 8روز کاری پس از ثیت سفارش)</p>
              <p class="raygan" > رایگان</p>
              </div>
            </div>
            <div  class="card  box1">
                <div class="card-body text">
              <p class="hazineh" >هزینه و زمان ارسال بستگی به روش و ادرس انتخابی دارد</p>
                </div>
              </div>
            </div>
            <div class="card cashbox  " id="sabad1" >
              <div class="card-body">
                <h5 class="card-title">خلاصه سبد:</h5>
                <hr>
                <h6 class="card-subtitle mb-2 text-muted">تعداد کتاب:</h6>
                <p  class="card-subtitle mb-2 text-muted">جمع سبد:</p>
                <p  class="card-subtitle mb-2 text-muted">هزینه بسته بندی و ارسال:</p>
                <p  class="card-subtitle mb-2 text-muted">قیمت کل:</p>
                <a href="Kharid3.html"><button  type="button" class="btn btn-lg btn-primary" disabled>ادامه فرایند خرید</button></a>
              </div>
             </div>
         
      </div>
      <div dir="rtl" class="ghavanin">
          
          <h6>قوانین خرید کتاب چاپی</h6>
           <p>بیشتر></p>
      </div>
      <div dir="rtl">
        <div  class="card  box2">
          <div class="card-body textp">
            <span>.</span>
             <div>
              باید توجه داشته باشید که قطع و اندازه و جزئیات هر عنوان کتاب چاپی در توضیحات کتاب آورده شده است. در صورتی که مشخصات کتاب موردنظر شما از نظر جزئیات ذکرشده با اطلاعات عنوان‌شده در صفحۀ اطلاعات کتاب متفاوت باشد و کتاب موجود در طاقچه را سفارش دهید، مسئولیتی بابت مغایرت موارد بیان‌شده بر عهدۀ طاقچه نیست و طاقچه تعهدی در مورد لغو موارد خریداری‌شده ندارد. ضمناً طاقچه تعهدی دربارۀ نوبت چاپ کتاب ندارد.
             </div>
            
          </div>
        </div>

      </div>
      <div dir="rtl" >
        <div  class="card  box2">
          <div class="card-body textp">
           <span>.</span>
             <div>
              افزودن یک کالا به سبد خرید به هیچ عنوان به‌معنی رزرو کالا نیست. بنابراین باید در اسرع وقت سبد خرید خود را تکمیل و سفارش خود را ثبت نهایی کنید. در فاصلۀ افزودن کتاب به سبد خرید تا ثبت نهایی سفارش، اگر تغییری در قیمت پیش بیاید یا تعداد کتاب‌های موجود کم شود، بدیهی است که طاقچه حق دارد تغییرات گفته‌شده را پیش از ثبت نهایی سفارش در سبد خرید شما اعمال کند.
             </div>
            
          </div>
        </div>

      </div>
        <footer dir="rtl"id="fo">
          <div>
            <div class="footer-area">
                <div class="container">
                    <div class="row1">
                      <div class="col-md-3">
                        <div class="yarketaben">   <img src="PHOTO/yarketab-en.png" alt=""> </div>
                          <div class="footer-underline"></div>
                          <div class="mb-2">
                              <p>
                                  <i class="fa fa-map-marker"></i> خراسان رضوی گناباد
                              </p>
                          </div>
                          <p class="mb-2">
                              <a href="" class="text-black">
                                  <i class="fa fa-phone"></i> 09156644838
                              </a>
                          </p>
                          <p class="mb-2">
                              <a href="" class="text-black">
                                  <i class="fa fa-envelope"></i> support@yarketab.com
                              </a>
                          </p>
                      </div>
                        <div class="col-md-3">
                          <div class="md-p">
                            <b>  <div class="footer-heading">اطلاعات</div></b>
                            <div class="footer-underline"></div>
                            <p class="mb-2"><a href="" class="text-black">درباره ما </a></p>
                            <p class="mb-2"><a href="" class="text-black">ارتباط با ما</a></p>
                         </div>
                        </div>
                        <div class="col-md-3">
                          <b>   <div class="footer-heading">اکانت</div></b>
                          <div class="footer-underline"></div>
                          <p class="mb-2"><a href="" class="text-black">اکانت من</a></p>
                          <p class="mb-2"><a href="" class="text-black">تاریخچه سفارش</a></p>
                          <p class="mb-2"><a href="" class="text-black">لیست علاقه مندی ها</a></p>
                          <p class="mb-2"><a href="" class="text-black">ویژه</a></p>
                              </div>
                       <div class="col-md-3">
                        <b>  <div class="footer-heading">خدمات</div></b> 
                        <div class="footer-underline"></div>
                        <p class="mb-2"><a href="" class="text-black">پنل فروشگاه</a></p>
                        <p class="mb-2"><a href="" class="text-black">ثبت فروشگاه</a></p>
                        <p class="mb-2"><a href="" class="text-black">فروشگاه</a></p>
                        <p class="mb-2"><a href="" class="text-black">پیگیری سفارش از فروشگاه</a></p>
                        <p class="mb-2"><a href="" class="text-black">خبرنامه</a></p>
                    </div>
                      <div class="col-md-3">
                        <b>   <div class="footer-heading">خبر نامه</div></b>
                           <div class="footer-underline"></div>
                           <p>
                         دریافت خبر های موجودی محصولات دید
                           </p>
                           <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping"><img src="PHOTO/email.png" alt=""></span>
                            <input type="email" class="form-control" placeholder="ایمیل خود را وارد کنید" aria-label="Username" aria-describedby="addon-wrapping">
                          </div>
                       </div>
                  </div>
              </div>
          </div>
          <div dir="rtl" class="copyright-area">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8">
                          <p class=""> کپی رایت 1400-1401 یار کتاب تمامی حقوق معنوی محفوض است</p>
                      </div>
                      <div class="col-md-4">
                          <div class="social-media">
                              <a href=""><i class="fa fa-facebook"></i></a>
                              <a href=""><i class="fa fa-twitter"></i></a>
                              <a href=""><i class="fa fa-instagram"></i></a>
                              <a href=""><i class="fa fa-youtube"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <script src="bootstrap5.2.0.js" ></script>

      <script>
        let subMenu = document.getElementById("subMenu");
        
        function togglemenu(){
          subMenu.classList.toggle("open-menu")
        }
        
        
              </script>
        </footer>
      </main>  
    </budy>


</html>