<!DOCTYPE html>
<html lang="en" dir="rtr">
    <head>
       <title>کتاب یار</title>
       <link href="Navisandeh.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="bootstrap5.2.0.css">
        <link rel="stylesheet" href="bootstrap.4.7.0.css">
        <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="Swiper.css">
       <link rel="stylesheet" href="bootstrap5.2.2.css">
        <link href="Home.css" rel="stylesheet">
        <link href="Sabtnam.css" rel="stylesheet">
        <link href="mahsolat.css" rel="stylesheet">
    </head>  
    <budy   class="font" >   
      <nav  class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler  right0 " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
          


            <div class="pic">
              <li class="nav-item">
                 
                <a class="navbar-brand" href="Kharid.html">
                  <div id="picv1">
                    <img id="picv1" src="PHOTO/cart2.svg" alt="">
                 </div>
                </a>  
                 
              </li>      
                
              
              <li class="nav-item">
                <div id="picv" class="navbar-brand" >
                  <img  src="PHOTO/user.svg" alt="" onclick="togglemenu()">
                </div>  
       <div style="background-color: rgb(255, 255, 255);" class="sub-menu-wrap" id="subMenu">
                <div dir="rtl" class="sub-menu">
                  <a href="Sabtnam.html" class="sub-menu-link">
                    <p class="p">ثبت نام</p>
                  </a>
                  <hr/>
                  <a href="#popup1" class="sub-menu-link">
                    <p class="p1">ورود</p>
                  </a>
                </div>
        </div>
              </li>         
    </div>






       
            <ul dir="rtl" class="navbar-nav right2" >
              <li class="nav-item">
                <a  class="nav-link active"  href="Home.html">خانه</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="Mahsol.html">محصولات</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="Navisandeh.html">نویسندگان</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="Nasher.html">ناشران</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="Dastehbandi.html" >  دسته بندی ها</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="Darbarehmah.html"> درباره ما </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="tamasbama.html"> تماس با ما </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link active" href="Mosabeghat.html"> مسابقات کتابخوانی</a>
              </li>
   
            </ul>
            <div  id="picnav"  class="nav-item1 yar">
              <img src="PHOTO/yarketab-fa.png" alt="">
           </div>
            </div>
          </div>  
        </div>   
    </nav>          

           <div dir="rtl" class="input-group1 serche" >
                  <div >
                    <input type="search" class="form-control" id="floatingInputGrid" placeholder="نام محصول خود را وارد کنید..." >
                  </div>
          </div>
          <hr/>

         <div class="text1">
  بهترین مکان برای خرید و فروش محصولات دیجیتال
         </div> 

        <main >

          <div id="popup1" class="overlay">
            <div class="popup">
              
              <a class="close" href="#">&times;</a>
              <div dir="rtl" class="form1">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">شماره مبایل</label>
                    <input type="text" class="form-control" placeholder="شماره مبایل">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">رمز عبور</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="رمز عبور">
                 <a href="#"> <label for="exampleFormControlTextarea1" class="form-label">فراموشی رمز عبور؟</label></a>
                  </div>
                  <div id="btn1" class="d-grid gap-2">
                    <button class="btn btn-primary " type="button">ورود</button>
                    <button class="btn  btn-secondary" type="button">ثبت نام</button>
                  </div>
          </div>  
            </div>
          </div>






      <div dir="rtl" id="blouck" class="form">
        <div class="flex">
            <div class="mb-3 pr">
                <label for="exampleFormControlInput1" class="form-label">شماره مبایل:</label>
                <input type="text" class="form-control" placeholder="شماره مبایل">
              </div>
              <div class="mb-3 pr">
                <label for="exampleFormControlInput1" class="form-label">نام کاربری:</label>
                <input type="text" class="form-control" placeholder="نام کاربری">
              </div>
        </div>
        <div class="flex">
              <div class="mb-3 pr">
                <label for="exampleFormControlTextarea1" class="form-label">رمز عبور:</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="رمز عبور">
              </div>
              <div class="mb-3 pr">
                <label for="exampleFormControlTextarea1" class="form-label">تکرار رمز عبور:</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="تکرار رمز عبور">
              </div>
        </div>
              <div id="btn1" class="d-grid gap-2">
                <button class="btn btn-primary " type="button">ورود</button>
                <button class="btn  btn-secondary" type="button">ثبت نام</button>
              </div>
      </div>    
        
        <footer dir="rtl"id="fo">
          <div>
            <div class="footer-area">
                <div class="container">
                    <div class="row1">
                      <div class="col-md-3">
                        <div class="yarketaben">   <img src="PHOTO/yarketab-en.png" alt=""> </div>
                          <div class="footer-underline"></div>
                          <div class="mb-2">
                              <p>
                                  <i class="fa fa-map-marker"></i> خراسان رضوی گناباد
                              </p>
                          </div>
                          <p class="mb-2">
                              <a href="" class="text-black">
                                  <i class="fa fa-phone"></i> 09156644838
                              </a>
                          </p>
                          <p class="mb-2">
                              <a href="" class="text-black">
                                  <i class="fa fa-envelope"></i> support@yarketab.com
                              </a>
                          </p>
                      </div>
                        <div class="col-md-3">
                          <div class="md-p">
                            <b>  <div class="footer-heading">اطلاعات</div></b>
                            <div class="footer-underline"></div>
                            <p class="mb-2"><a href="" class="text-black">درباره ما </a></p>
                            <p class="mb-2"><a href="" class="text-black">ارتباط با ما</a></p>
                         </div>
                        </div>
                        <div class="col-md-3">
                          <b>   <div class="footer-heading">اکانت</div></b>
                          <div class="footer-underline"></div>
                          <p class="mb-2"><a href="" class="text-black">اکانت من</a></p>
                          <p class="mb-2"><a href="" class="text-black">تاریخچه سفارش</a></p>
                          <p class="mb-2"><a href="" class="text-black">لیست علاقه مندی ها</a></p>
                          <p class="mb-2"><a href="" class="text-black">ویژه</a></p>
                              </div>
                       <div class="col-md-3">
                        <b>  <div class="footer-heading">خدمات</div></b> 
                        <div class="footer-underline"></div>
                        <p class="mb-2"><a href="" class="text-black">پنل فروشگاه</a></p>
                        <p class="mb-2"><a href="" class="text-black">ثبت فروشگاه</a></p>
                        <p class="mb-2"><a href="" class="text-black">فروشگاه</a></p>
                        <p class="mb-2"><a href="" class="text-black">پیگیری سفارش از فروشگاه</a></p>
                        <p class="mb-2"><a href="" class="text-black">خبرنامه</a></p>
                    </div>
                      <div class="col-md-3">
                        <b>   <div class="footer-heading">خبر نامه</div></b>
                           <div class="footer-underline"></div>
                           <p>
                         دریافت خبر های موجودی محصولات دید
                           </p>
                           <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping"><img src="PHOTO/email.png" alt=""></span>
                            <input type="email" class="form-control" placeholder="ایمیل خود را وارد کنید" aria-label="Username" aria-describedby="addon-wrapping">
                          </div>
                       </div>
                  </div>
              </div>
          </div>
          <div dir="rtl" class="copyright-area">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8">
                          <p class=""> کپی رایت 1400-1401 یار کتاب تمامی حقوق معنوی محفوض است</p>
                      </div>
                      <div class="col-md-4">
                          <div class="social-media">
                              <a href=""><i class="fa fa-facebook"></i></a>
                              <a href=""><i class="fa fa-twitter"></i></a>
                              <a href=""><i class="fa fa-instagram"></i></a>
                              <a href=""><i class="fa fa-youtube"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <script src="bootstrap5.2.0.js" ></script>

      <script>
        let subMenu = document.getElementById("subMenu");
        
        function togglemenu(){
          subMenu.classList.toggle("open-menu")
        }
        
        
              </script>
        </footer>
      </main>  
    </budy>


</html>